body {
  background: #ffedd3;
  font-family: 'Montserrat', sans-serif;
}

body > div {
  padding: 10px;
  margin: auto;
}

textarea {
  width: 90%;
  height: 300px;
  background: #fff9f0;
  margin-top: 14px;
  overflow: hidden;
}

h2,
h1 {
  color: #9e4747;
}
